@model IEnumerable<CMS.Domain.Entities.Page>
@using CMS.WebUI.Infrastructure
@{
    ViewBag.Title = "Pages";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="header">
    <h2>Pages</h2>
</div>
<script type="text/javascript">
    var myID = 0;

    function doWork(id) {
        myID = id;
    }

</script>
<div class="container-fluid">
    <div class="row-fluid">
    <div class="row-fluid">            
        <div class="btn-toolbar">
            <a href="/Page/AddPage/@ViewBag.ParentId"><button class="btn btn-primary"><i class="icon-plus"></i> Add Page</button></a>
            <!--<a href="/Page/AddPage/@ViewBag.ParentId"><img src="~/Content/images/addDocument.png" />Add Page</a>-->
            <div class="btn-group">
                
            </div>
        </div>
        @Html.BreadCrumb((Int32)ViewBag.ParentId)
        <div style="color: red">@Html.ValidationSummary()</div>
        <div class="well">
            <table class="table">
                <thead>
                    <tr>
                        <th>Page Title</th>
                        <th>Locked By</th>
                        <th>Page Status</th>
                        <th style="width: 13px; text-align: right;">&nbsp;</th>
                        <th style="width: 13px; text-align: right;">&nbsp;</th>
                        <th style="width: 13px; text-align: right;">&nbsp;</th>
                        <th style="width: 13px; text-align: right;">&nbsp;</th>
                        <th style="width: 13px; text-align: right;">&nbsp;</th>
                        <th style="width: 13px; text-align: right;">&nbsp;</th>
                        <th style="width: 13px; text-align: right;">&nbsp;</th>
                        <th style="width: 13px; text-align: right;"></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var page in Model)
                {
                    <tr>
                        <td><a href="/Page/Index/@page.PageID">@page.PageTitle</a></td>
                        <td>@page.LockedByName</td>
                        <td>
                            @if(page.PageWorkFlowState == 1)
                            {
                                @:Unpublished
                            }
                            else if(page.PageWorkFlowState ==2)
                            {
                                @:Published
                            }
                            else if(page.PageWorkFlowState == 3)
                            {
                                @:Expired
                            }

                        </td>
                        <td><a href="/Page/OrderUp/@page.Id"><i class="icon-arrow-up" title="Sort Up" alt="Sort Up"></i></a></td>
                        <td><a href="/Page/OrderDown/@page.Id"><i class="icon-arrow-down" title="Sort Down" alt="Sort Down"></i></a></td>
                        <td style="text-align: right;">
                            @if (page.LockedBy > 0 && page.LockedBy == ViewBag.m_SessionId)
                            {
                                <a href="/Page/PageUnlock/@page.Id"><i class="icon-lock" title="Unlock" alt="Unlock"></i></a>
                            }
                        </td>
                        <td>
                            @if(page.PageWorkFlowState == 1)
                            {
                                <a href="/Page/PagePublish/@page.Id"><i class="icon-book" title="Publish" alt="Publish"></i></a>
                            }
                        </td>
                        <td><a href="/Page/PagePreview/@page.Id" target="_blank"><i class="icon-picture" title="Preview" alt="Preview"></i></a></td>
                        <td>
                            @if(page.PageTitle != "Home" && page.PageTitle != "Hidden Pages")
                            {
                                <a href="/Page/EditPage/@page.Id"><i class="icon-pencil" title="Edit" alt="Edit"></i></a>
                            }
                        </td>
                        <td>
                            @if(page.PageTitle != "Home" && page.PageTitle != "Hidden Pages")
                            {
                                <a href="#myModal" role="button" data-toggle="modal" id="1" onclick="doWork(@page.Id);"><i class="icon-remove" title="Delete" alt="Delete"></i></a>
                            }                                
                        </td>
                    </tr>   
                }
                </tbody>
            </table>
        </div>
        <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the Page?</p>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" onclick="document.location.href ='/Page/PageDelete/' + myID;">Delete</button>
            </div>
        </div>
    </div>
</div>

