@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<main class="main" role="main">
    <div class="content-holder">
        <div class="directory">
            <h2 class="innerheading">Staff Directory</h2>
            <div class="edit"><a href="/EmployeeDirectory/Edit/@Model.Id" title="edit"><img src="/Content/images/edit_pencil.gif" width="30" height="13" border="0" alt="Edit"></a></div>
            <img src="@Url.Action("GetEmployeePhoto", "ImageHandler", new{ id = @Model.Id })" alt="Employee Photo">
            <div class="profile">
                <p>
                    <strong>@Model.FirstName, @Model.LastName </strong><br>
                    <em>@Html.Action("getJobTitle", "EmployeeDirectory", new { id = Model.JobTitle }) </em><br>
                    @Html.Action("getLocation", "EmployeeDirectory", new { id = Model.Location })
                </p>
                <p>
                    P: @Model.Phone <br />
                    @if (Model.Intercom.Length > 0)
                    {
                        @:I: @Model.Intercom <br />
            }
                    @if (Model.Fax.Length > 0)
                    {
                        @:F: @Model.Fax <br />
            }
                    <a href="mailto:@Model.Email">@Model.Email </a>
                </p>
                <p><strong>Skills Registry</strong></p>
                @if (Model.Skills.Count > 0)
                {
                    @:<ul>
            foreach (var skill in ViewBag.Skills)
            {
                if (Model.Skills != null && Model.Skills.Contains(skill.Id))
                {
                    @:<li>@skill.SkillName</li>
                }
            }
            @:</ul>
        }
                <p>
                    <strong>Additional Staff Info</strong><br />
                    @if (Model.Info.Length > 0)
                    {
                        @Model.Info <br /><br />
                    }
                </p>
                <p>
                    <strong>It's All About Me</strong><br>
                    @if (Model.About.Length > 0)
                    {
                        @Model.About <br /><br />
                    }
                </p>
                <p><a href="/employee-directory">Back to Staff Listing</a></p>
            </div>
        </div>
    </div>
</main>
