@{
    ViewBag.Title = "AddChild";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="header">
    <h1 class="page-title">Create Child</h1>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="formcontainer">
            <div style="line-height: 30px;">&nbsp;</div>
            <div style="color: red">@Html.ValidationSummary()</div>

            <div class="formlabel">&nbsp;</div>
            <div class="formfield"><a href="/List/DisplayChildren/@ViewBag.ListId"><button class="btn btn-primary"><i class="icon-reply"></i> Cancel</button></a></div>
            <div class="clear">&nbsp;</div>
            <div style="line-height: 30px;">&nbsp;</div>

            <form action="/List/AddChild" method="post" id="childAdd">
                <input type="hidden" name="ListId" id="ListId" value="@ViewBag.ListId" />
                <div class="formlabel">Label:</div>
                <div class="formfield"><input type="text" name="Label" id="Label" value="@Model.Label" /></div>
                <div class="clear">&nbsp;</div>

                <div class="formlabel">Link:</div>
                <div class="formfield"><input type="text" name="Link" id="Link" value="@Model.Link" /></div>
                <div class="clear">&nbsp;</div>

                <div class="formlabel">Form #:</div>
                <div class="formfield"><input type="text" name="FormNumber" id="FormNumber" value="@Model.FormNumber" /></div>
                <div class="clear">&nbsp;</div>

                <div class="formlabel">Policy Name:</div>
                <div class="formfield"><input type="text" name="PolicyName" id="PolicyName" value="@Model.PolicyName" /></div>
                <div class="clear">&nbsp;</div>

                <div style="line-height: 30px;">&nbsp;</div>
                <div class="formlabel">&nbsp;</div>
                <div class="formfield"><button form="childAdd" class="btn btn-primary"><i class="icon-save"></i> Save</button></div>
                <div class="clear">&nbsp;</div>
            </form>
        </div>
    </div>

