@using Recaptcha;
@{
    ViewBag.Title = "Teens";
    Layout = "~/Views/Shared/_LayoutTeens.cshtml";
}
<div class="inner_bg"></div>
<!--<!--end inner-->
    <div class="inner-content">
        <div class="margin-top_10">&nbsp;</div>
        @if (ViewBag.Message != null)
        {
            <div class="formlabel">&nbsp;</div>
            <div class="formfield" style="color: red;">@ViewBag.Message</div>
            <div class="clear">&nbsp;</div>
        }

        @if (ViewBag.PageType == 2 || ViewBag.PageType == 3)
        {
            if(ViewBag.PageType == 2 && (ViewBag.isPostBack == null || ViewBag.isPostBack != 1))
            {
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
            }
            if(ViewBag.PageType == 3)
            {
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
            }
            <div class="margin-top_10">&nbsp;</div>
            <div style="color: red; text-align: center">@Html.ValidationSummary()</div>
            <div class="margin-top_10">&nbsp;</div>
        }

        @if (ViewBag.PageType == 2)
        {
            if (ViewBag.isPostBack != null && ViewBag.isPostBack == 1)
            {
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(ViewBag.Success));
            }
            else
            {
                @Html.Action("getForm", "Home", new { parentId = Model.PageID, id = ViewBag.id})
            }
        }
        else if(ViewBag.PageType == 3)
        {
            @Html.Action("getFAQ", "Home", new { id = ViewBag.id})   
        }
        else if(ViewBag.PageType == 4)
        {
            if(Model.Content != "")
            {
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
                <br /><br />
            }
            @Html.Action("getBlog", "Home", new { parentId = ViewBag.TemplateId, id = Model.PageTypeId })
        }
        else if(ViewBag.PageType == 5)
        {
            <div style="color: red; font-size: 16px; margin-bottom: 20px;">@Html.ValidationSummary()</div>
            <div class="border">
                <h5><a href="/Home/BlogPost/@ViewBag.TemplateId/@Model.Id">@Model.Title</a></h5>
                <section class="padding">
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
                    <span class='st_email_large' displayText='Email'></span>
                    <span class='st_fblike_large' displayText='Facebook Like'></span><br /><br /><br />
                    <figcaption class="caption float_left">@Model.PublishDate.ToString("MM/dd/yyyy")</figcaption>
                    <figcaption class="caption float_right">By <strong class="strong">@Model.Author</strong></figcaption>
                    <div class="clear margin-bottom_10"></div>
                    <figcaption class="caption">
                        @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content)) <br /><br />
                    </figcaption>
                    <div class="clear"></div>
                </section>
            </div><!--end border-->

            <div class="margin-top_10">&nbsp;</div>

            if(Model.Comments == 1)
            {
                
                <div class="border">
                    <h5><a href="#">Leave a Comment</a></h5>
                    <div class="margin-top_10">&nbsp;</div>
                    <form action="/Home/SubmitComment" method="post">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <input type="hidden" name="BlogId" value="@Model.BlogId" />
                        <input type="hidden" name="TemplateId" value="@ViewBag.TemplateId" />
                        <div class="formlabel">Name:</div>
                        <div class="formfield"><input type="text" name="Name" value="@ViewBag.Comment.Name" /></div>
                        <div class="clear">&nbsp;</div>

                        <div class="formlabel">Comment:</div>
                        <div class="formfield"><textarea cols="60" rows="5" maxlength="2000" name="Comment" >@ViewBag.Comment.Comment</textarea></div>
                        <div class="clear">&nbsp;</div>

                        <div class="formlabel">&nbsp;</div>
                        <div class="formfield">
                            @Html.Raw(Html.GenerateCaptcha())
                        </div>
                        <div class="clear">&nbsp;</div>

                        <div class="formlabel">&nbsp;</div>
                        <div class="formfield"><input type="submit" value="submit" /></div>
                        <div class="clear">&nbsp;</div>
                    </form>
                </div>

                <div class="margin-top_10">&nbsp;</div>

                <div class="border" >
                    <h5><a href="#">Comments</a></h5>
                    <div class="margin-top_10">&nbsp;</div>
                    @Html.Action("GetComments", new{id = Model.BlogId})
                </div>

                <div class="margin-top_10">&nbsp;</div>
            }  
        }
        else
        {
            if (@Model.DisplaySocialMedia == 1)
            {
                <section>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
                    <span class='st_email_large' displayText='Email'></span>
                    <span class='st_fblike_large' displayText='Facebook Like'></span><br /><br /><br />      
                </section>
            }
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content)) 
        }

        <div class="clear"></div>
    </div><!--end left_part-->
            
    <div class="right_part">
        <div class="coloumn3">
            <div class="inner-cen-bg">
                @if(ViewBag.PageId != null)
                {
                    @Html.Action("SystemSubMenu", "Home", new{id = ViewBag.PageId})	
                }
                <div class="margin-top_10">&nbsp;</div> 
            </div>
        </div><!--end coloumn3-->
        <div class="inner-bot-bg"></div>  
        <div class="margin-top_10">&nbsp;</div> 
        @if ((ViewBag.Network == "192.168.101" && ViewBag.LastIpOctet > 240) || (ViewBag.Network == "192.168.103" && ViewBag.LastIpOctet > 240) || (ViewBag.Network == "192.168.105" && ViewBag.LastIpOctet > 240) || (ViewBag.Network == "192.168.107" && ViewBag.LastIpOctet > 240) || (ViewBag.Network == "192.168.109" && ViewBag.LastIpOctet > 240) || (ViewBag.Network == "192.168.111" && ViewBag.LastIpOctet > 240) || (ViewBag.Network == "192.168.113" && ViewBag.LastIpOctet > 240) || (ViewBag.Network == "192.168.115" && ViewBag.LastIpOctet > 240))
        {
            @Html.Action("WirelessPrint", "Home", new{ id = ViewBag.Network })
        }
        @if(ViewBag.PageType != 5)
        {
            if(Model.WidgetContainerId != 0)
            {    
                @Html.Action("Container", "Home", new{ id = Model.WidgetContainerId })
            }
        }
        else
        {
            @Html.Action("Container", "Home", new{ id = 3 })
        }
    </div> <!--end right part--> 
    <div class="clear"></div>