@{
    ViewBag.Title = "Administration - Edit Image";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="header">
    <h1 class="page-title">Add an Image to a Gallery</h1>
</div>
<div class="container-fluid">   
<div class="row-fluid">  
<div class="formcontainer">
    @if(!ViewData.ModelState.IsValid)
    {
        <div style="line-height: 30px;">&nbsp;</div>
        <div class="formlabel">&nbsp;</div>
        <div class="formfield"><div style="color: red">@Html.ValidationSummary()</div></div>
        <div class="clear">&nbsp;</div>
    }

    <div style="line-height: 30px;">&nbsp;</div>
    <div class="formlabel">&nbsp;</div>
    <div class="formfield"><a href="/Gallery/Images/@Model.ParentId"><button class="btn btn-primary"><i class="icon-reply"></i> Cancel</button></a></div>
    <div class="clear">&nbsp;</div>
    <div style="line-height: 30px;">&nbsp;</div>

        <form action="/Gallery/EditImage/@Model.Id" method="post" id="imageEdit" enctype = "multipart/form-data">
            <input type="hidden" value="@Model.ParentId" name="ParentId" id="ParentId" />
            <input type="hidden" value="@Model.Name" name="OldName" id="OldName" />
            <input type="hidden" value="@Model.FileType" name="OldFileType" id="OldFileType"
            <input type="hidden" value="@Model.Id" name="Id" id="Id" />
            <div class="formlabel">Content Group:</div>
            <div class="formfield">
                <select name="ContentGroup" id="ContentGroup">
                    <option value="">-- Select a Content Group --</option>
                    @foreach (var GroupName in ViewBag.myContentGroups)
                    {
                        if (GroupName.GroupID == Model.ContentGroup)
                        {
                            <option value="@GroupName.GroupID" selected="selected">@GroupName.ContentGroupName</option>
                        }
                        else
                        {
                            <option value="@GroupName.GroupID">@GroupName.ContentGroupName</option>
                        }
                    }
                </select>
            </div>
            <div class="clear">&nbsp;</div>

            <div class="formlabel">Image Name:</div>
            <div class="formfield"><input type="text" class="input-xlarge" name="Name" value="@Model.Name"></div>
            <div class="clear">&nbsp;</div>

            <div class="formlabel">Alternate Text:</div>
            <div class="formfield"><input type="text" class="input-xlarge" name="AltText" value="@Model.AltText" /></div>
            <div class="clear">&nbsp;</div>

            <div class="formlabel">File Upload:</div>
            <div class="formfield"><input type="file" class="input-xlarge" name="fileUpload" id="fileUpload" value="" /></div>
            <div class="clear">&nbsp;</div>

            <div style="line-height: 30px;">&nbsp;</div>
            <div class="formlabel">&nbsp;</div>
            <div class="formfield"><button form="imageEdit" class="btn btn-primary"><i class="icon-save"></i> Save</button></div>
            <div class="clear">&nbsp;</div>
        </form>
</div>


