@{
    ViewBag.Title = "Edit - Gallery";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Name = HttpContext.Current.Session["Name"];
}

<div class="header">
    <h1 class="page-title">Create FAQ List</h1>
</div>
<div class="container-fluid">   
<div class="row-fluid">  
<div class="formcontainer">
    @if(!ViewData.ModelState.IsValid)
    {
        <div style="line-height: 30px;">&nbsp;</div>
        <div class="formlabel">&nbsp;</div>
        <div class="formfield"><div style="color: red">@Html.ValidationSummary()</div></div>
        <div class="clear">&nbsp;</div>
        <div style="line-height: 30px;">&nbsp;</div>
    }

    <div class="formlabel">&nbsp;</div>
    <div class="formfield"><a href="/Gallery/"><button  class="btn btn-primary"><i class="icon-reply"></i> Cancel</button></a></div>
    <div class="clear">&nbsp;</div>
    <div style="line-height: 30px;">&nbsp;</div>
        <form action="/Gallery/EditGallery" method="post" id="galleryEdit">
            <input type="hidden" name="Id" id="Id" value="@Model.Id" />
            <input type="hidden" name="OldName" id="OldName" value="@Model.Name" />
            <div class="formlabel">Content Group:</div>
            <div class="formfield">
                <select name="ContentGroup" id="ContentGroup">
                    <option value="">-- Select a Content Group --</option>
                    @foreach (var GroupName in ViewBag.myContentGroups)
                    {
                        if (GroupName.GroupID == Model.ContentGroup)
                        {
                            <option value="@GroupName.GroupID" selected="selected">@GroupName.ContentGroupName</option>
                        }
                        else
                        {
                            <option value="@GroupName.GroupID">@GroupName.ContentGroupName</option>
                        }
                    }
                </select>
            </div>
            <div class="clear">&nbsp;</div>

            <div class="formlabel">Gallery Name:</div>
            <div class="formfield"><input type="text" class="input-xlarge" name="Name" value="@Model.Name"></div>
            <div class="clear">&nbsp;</div>
            <div style="line-height: 30px;">&nbsp;</div>

            <div class="formlabel">&nbsp;</div>
            <div class="formfield"><button form="galleryEdit" class="btn btn-primary"><i class="icon-save"></i> Save</button></div>
            <div class="clear">&nbsp;</div>            
        </form>
    </div>

