<ul class="schedule">
    @foreach (var mEvent in Model)
    {
        if (mEvent.EventStartMin == 0)
        {
            ViewBag.StartTime = mEvent.EventStartHour + ":00 " + mEvent.AmpmStart;
        }
        else
        {
            ViewBag.StartTime = mEvent.EventStartHour + ":" + mEvent.EventStartMin + " " + mEvent.AmpmStart;
        }
        if (mEvent.EventEndMin == 0)
        {
            ViewBag.EndTime = mEvent.EventEndHour + ":00 " + mEvent.AmpmEnd;
        }
        else
        {
            ViewBag.EndTime = mEvent.EventEndHour + ":" + mEvent.EventEndMin + " " + mEvent.AmpmEnd;
        }

        <li>
            <time class="align-left" datetime="2011-07-15T20:00">@mEvent.EventStartDate.ToString("MM")/@mEvent.EventStartDate.ToString("dd")</time><span class="time"><a href="/Home/Event/@mEvent.EventID">@mEvent.EventTitle</a><time datetime="2015-07-15T15:00-08:00">@ViewBag.StartTime
            @if (mEvent.EventEndHour != 0)
            {
                @: - @ViewBag.EndTime
            }, @mEvent.BranchName</time></span>
        </li>
    }
</ul>

