<table class="directory-table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Location</th>
            <th>Job Title</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var employee in Model)
        {
            <tr>
                <td><a href="/EmployeeDirectory/Display/@employee.Id">@employee.FirstName</a></td>
                <td><a href="/EmployeeDirectory/Display/@employee.Id">@employee.LastName</a></td>
                <td>@employee.Phone</td>
                <td>@employee.Email</td>
                <td>@Html.Action("getLocation", "EmployeeDirectory", new{ id = employee.Location })</td>
                <td>@Html.Action("getJobTitle", "EmployeeDirectory", new{ id = employee.JobTitle })</td>
            </tr>
        }

    </tbody>
</table>

