<table class="directory-table">
    <thead>
        <tr>
            <th>First Name<a href="/EmployeeDirectory/Filter/1/desc"><img src="/Content/images/arrow-none.gif" width="19" height="10"></a></th>
            <th>Last Name<a href="/EmployeeDirectory/Filter/2/desc"><img src="/Content/images/arrow-none.gif" width="19" height="10"></a></th>
            <th>Phone<a href="/EmployeeDirectory/Filter/3/desc"><img src="/Content/images/arrow-none.gif" width="19" height="10"></a></th>
            <th>Email<a href="/EmployeeDirectory/Filter/4/desc"><img src="/Content/images/arrow-none.gif" width="19" height="10"></a></th>
            <th>Location<a href="/EmployeeDirectory/Filter/6/desc"><img src="/Content/images/arrow-none.gif" width="19" height="10"></a></th>
            <th>Job Title<a href="/EmployeeDirectory/Filter/5/desc"><img src="/Content/images/arrow-none.gif" width="19" height="10"></a></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var employee in Model)
        {
            <tr>
                <td><a href="/EmployeeDirectory/Display/@employee.Id">@employee.FirstName</a></td>
                <td><a href="/EmployeeDirectory/Display/@employee.Id">@employee.LastName</a></td>
                <td>@employee.Phone</td>
                <td>@employee.Email</td>
                <td>@Html.Action("getLocation", "EmployeeDirectory", new{ id = employee.Location })</td>
                <td>@Html.Action("getJobTitle", "EmployeeDirectory", new{ id = employee.JobTitle })</td>
            </tr>
        }

    </tbody>
</table>

