@model CMS.Domain.Entities.BlogPost
@{
    ViewBag.Title = "Edit - Blog Post";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    $(function () {
        $("#PublishDate").datepicker();
    });

    $(function () {
        $("#ExpirationDate").datepicker();
    });

    var tid = setInterval(savePageData, 180000);
    var tid3;
    function savePageData() {
        //var data = $("#pageEdit").serialize();    
        $("#Content").val(CKEDITOR.instances['Content'].getData());
        //alert($("#Content").val());
        $.post("/BlogPost/EditBlogPost", $("#blogpostEdit").serialize());
        $("#message").replaceWith('<div id="message"><div class="alert alert-info" ><button type="button" class="close" data-dismiss="alert">x</button><strong>Saved changes successfully</strong></div></div>');
        tid3 = setTimeout(displayMessage, 10000);
    }
    var tid2 = setTimeout(alertSessionExpire, 1200000);
    function alertSessionExpire() {
        alert("Your session will be expiring soon.  Save your work and refresh page");
    }
    function displayMessage() {
        $("#message").replaceWith('<div id="message" style="line-height: 60px;">&nbsp;</div>');
    }
</script>

<div class="header">
    <h1 class="page-title">Edit Blog Post</h1>
</div>

<div class="container-fluid">   
<div class="row-fluid">  
<div class="formcontainer">
    <div id="message" style="line-height: 60px;">&nbsp        
    </div>
    <div style="line-height: 30px;">&nbsp;</div>
    <div style="color: red">@Html.ValidationSummary()</div>

    <div class="formlabel">&nbsp;</div>
    <div class="formfield"><a href="/BlogPost"><button class="btn btn-primary"><i class="icon-reply"></i> Cancel</button></a></div>
    <div class="clear">&nbsp;</div>
    <div style="line-height: 30px;">&nbsp;</div>

    <form action="/BlogPost/EditBlogPost" method="post" id="blogpostEdit">
        <input type="hidden" name="Id" id="Id" value="@Model.Id" />
        <input type="hidden" name="BlogId" id="BlogId" value="@Model.BlogId" />
        <div class="formlabel">Content Group:</div>
        <div class="formfield"><select name="ContentGroup">
            <option value="">-- Select a Content Group --</option>
            @foreach (var GroupName in ViewBag.myContentGroups)
                {
                    if (GroupName.GroupID == Model.ContentGroup)
                    {
                        <option value="@GroupName.GroupID" selected="selected">@GroupName.ContentGroupName</option>
                    }
                    else
                    {
                        <option value="@GroupName.GroupID">@GroupName.ContentGroupName</option>
                    }
                 }
            </select>
        </div>
        <div class="clear">&nbsp;</div>

        <div class="formlabel">Page Title:</div>
        <div class="formfield"><input type="text" name="Title" value="@Model.Title" /></div>
        <div class="clear">&nbsp;</div>
        
        <div class="formlabel">Author:</div>
        <div class="formfield"><input type="text" name="Author" id="Author" value="@Model.Author" /></div>
        <div class="clear">&nbsp;</div>

        <div class="formlabel">Intro Text:</div>
        <div class="formfield"><textarea cols="10" rows="5" name="IntroText" id="IntroText">@Model.IntroText</textarea></div>
        <div class="clear">&nbsp;</div>

        <div class="formlabel">Publish Date:</div>
        <div class="formfield"><input type="text" name="PublishDate" id="PublishDate" readonly="readonly" value="@Model.PublishDate" /></div>
        <div class="clear">&nbsp;</div>

        <div class="formlabel">Expiration Date:</div>
        <div class="formfield"><input type="text" name="ExpirationDate" id="ExpirationDate" readonly="readonly" value="@if(Model.ExpirationDate.Year != 0001){ @Model.ExpirationDate }" /></div>
        <div class="clear">&nbsp;</div>

        <div class="formlabel">Redirect Url:</div>
        <div class="formfield"><input type="text" name="RedirectUrl" id="RedirectUrl" value="@Model.RedirectUrl" /></div>
        <div class="clear">&nbsp;</div>

        <textarea name="Content" id="Content" style="width: 80%">@Model.Content</textarea>
        
        <script>
            CKEDITOR.replace('Content', {
                "extraPlugins": "imagebrowser",
                "imageBrowser_listUrl": "/JSON/getImages"
            }, '');
            </script>

        <div style="line-height: 30px;">&nbsp;</div>

        <div id="myImage">
            <div class="formlabel">Image:</div>
            <div class="formfield"><input type="text" name="NewsImageName" value="@Model.NewsImageName" /><a href="#myModal" role="button" data-toggle="modal">&nbsp;&nbsp;select an image</a></div>
            <div class="clear">&nbsp;</div>
            <input type="hidden" name="NewsImageId" value="@Model.NewsImageId" />
        </div>

        <div style="line-height: 30px;">&nbsp;</div>
        <div class="formlabel">Categories:</div>
        <div class="formfield">
            @foreach (var cat in ViewBag.Categories)
            {
                <div style="float: left; padding-right: 25px;">
                @if (Model.Categories.Contains(cat.Id))
                {
                    <label><input type="checkbox" name="Categories" id="Categories" value="@cat.Id" checked="checked"/> @cat.CategoryTitle</label>
                }
                else
                {
                    <label><input type="checkbox" name="Categories" id="Categories" value="@cat.Id" /> @cat.CategoryTitle</label>
                }
                </div>
            }
        </div>
        <div class="clear">&nbsp;</div>
        <div style="line-height: 30px;">&nbsp;</div>
        <div class="formlabel">&nbsp;</div>
        <div class="formfield">
            <select name="Comments">
                @if(Model.Comments == 1)
                {
                    <option value="1" selected="selected">Comments On</option>
                }
                else
                {
                    <option value="1" >Comments On</option>
                }
                @if(Model.Comments == 0)
                {
                    <option value="0" selected="selected">Comments Off</option>
                }
                else
                {
                    <option value="0">Comments Off</option>
                }
            </select>
        </div>
        <div class="clear">&nbsp;</div>

        <div style="line-height: 30px;">&nbsp;</div>
        <div class="formlabel">&nbsp;</div>
        <div class="formfield"><button form="blogpostEdit" class="btn btn-primary"><i class="icon-save"></i> Save</button></div>
        <div class="clear">&nbsp;</div>
    </form>

        <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="myModalLabel">Choos An Image</h3>
            </div>
            <div class="modal-body">
                @foreach(var image in ViewBag.NewsImages)
                {
                    <p class="error-text"><a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#myImage" href="/BlogPost/ImageSelect?ImageName=@image.Name.@image.FileType&ImageId=@image.Id"  data-dismiss="modal">@image.Name.@image.FileType</a></p>
                }
            </div>

            <div class="modal-footer">
                <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" onclick="document.location.href ='/Gallery/DeleteGallery/' + myID;">Delete</button>-->
            </div>
        </div>
</div>


