@{
    ViewBag.Title = "Edit -FAQ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Name = HttpContext.Current.Session["Name"];
}
<script type="text/javascript">
    var myID = 0;

    function doWork(id)
    {
        myID = id;
    }

</script>
<div class="header">
    <h1 class="page-title">Edit FAQ List</h1>
</div>
<div class="container-fluid">   
<div class="row-fluid">  
<div class="formcontainer">
    <div style="line-height: 30px;">&nbsp;</div>
    <div style="color: red">@Html.ValidationSummary()</div>

    <div class="formlabel">&nbsp;</div>
    <div class="formfield"><a href="/FAQ"><button class="btn btn-primary"><i class="icon-reply"></i> Cancel</button></a></div>
    <div class="clear">&nbsp;</div>
    <div style="line-height: 30px;">&nbsp;</div>

        <form action="/FAQ/EditFAQ" method="post" id="faqEdit">
            <input type="hidden" name="FaqID" value="@Model.FaqID" />
            <div class="formlabel">Content Group:</div>
            <div class="formfield">
                <select name="ContentGroup" id="ContentGroup">
                    <option value="">-- Select a Content Group --</option>
                    @foreach (var GroupName in ViewBag.myContentGroups)
                    {
                        if (GroupName.GroupID == Model.ContentGroup)
                        {
                            <option value="@GroupName.GroupID" selected="selected">@GroupName.ContentGroupName</option>
                        }
                        else
                        {
                            <option value="@GroupName.GroupID">@GroupName.ContentGroupName</option>
                        }
                    }
                </select>
            </div>
            <div class="clear">&nbsp;</div>

            <div class="formlabel">FAQ Name:</div>
            <div class="formfield"><input type="text" class="input-xlarge" name="FaqName" value="@Model.FaqName"></div>
            <div class="clear">&nbsp;</div>
            <div style="line-height: 30px;">&nbsp;</div>
            <div class="formlabel">&nbsp;</div>
            <div class="formfield"><button form="faqEdit" class="btn btn-primary"><i class="icon-save"></i> Save</button></div>&nbsp&nbsp;
            <a href="#myModal" data-toggle="modal" class="btn" onclick="doWork(@Model.FaqID);" >Delete</a>
            <div class="clear">&nbsp;</div>
        </form>
    </div>
</div>

<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="myModalLabel">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal" onclick="document.location.href ='/FAQ/DeleteFAQ/' + myID;">Delete</button>
    </div>
</div>