@{
    ViewBag.Title = "Add Event";
    ViewBag.Name = HttpContext.Current.Session["Name"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    $(function () {
        $("#EventStartDate").datepicker();
    });

    $(function () {
        $("#EventEndDate").datepicker();
    });

    var tid2 = setTimeout(alertSessionExpire, 1200000);
    function alertSessionExpire() {
        alert("Your session will be expiring soon.  Save your work and refresh page");
    }
</script>

<div class="header">
    <h1 class="page-title">Create Calendar Event</h1>
</div>
<div class="container-fluid">   
<div class="row-fluid">  
<div class="formcontainer">
    <div style="color: red">@Html.ValidationSummary()</div>
    <form action="/Calendar/Add" method="post" id="eventAdd">
        <div class="formlabel">Content Group:</div>
        <div class="formfield">
            <select name="ContentGroup" id="ContentGroup">
                <option value="">-- Select a Content Group --</option>
                @foreach (var GroupName in ViewBag.myContentGroups)
                {
                    if (GroupName.GroupID == Model.ContentGroup)
                    {
                        <option value="@GroupName.GroupID" selected="selected">@GroupName.ContentGroupName</option>
                    }
                    else
                    {
                        <option value="@GroupName.GroupID">@GroupName.ContentGroupName</option>
                    }
                }
            </select>
        </div>
        <div class="clear">&nbsp;</div>

        <div class="formlabel">Event Title:</div>
        <div class="formfield"><input type="text" name="EventTitle" id="EventTitle" value="@Model.EventTitle"/></div>
        <div class="clear">&nbsp;</div>

        <div class="formlabel">Event Start Date:</div>
        <div class="formfield"><input type="text" name="EventStartDate" id="EventStartDate" value="
            @if (Model.EventStartDate != DateTime.Parse("1/1/0001 12:00:00 AM"))
            {
                @Model.EventStartDate.ToString("M/dd/yyyy");
            }" /></div>
        <div class="formlabel">Event Start Time:</div>
        <div class="formfield">
            <select name="EventStartHour" id="EventStartHour" style="width: 75px;">
                <option value="-1"></option>
                @for (var i = 1; i <= 12; i++)
                {
                    if (Model.EventStartHour == i)
                    {
                        <option value="@i" selected="selected">@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
        </div>
        <div class="formfield">
            <select name="EventStartMin" id="EventStartMin" style="width: 75px">
                <option value="-1"></option>
                @if (Model.EventStartMin == 0 && Model.EventStartHour > 0)
                {
                    <option value="0" selected="selected">00</option>
                }
                else
                {
                    <option value="0">00</option>
                }
                @if (Model.EventStartMin == 15 && Model.EventStartHour > 0)
                {
                    <option value="15" selected="selected">15</option>
                }
                else
                {
                    <option value="15">15</option>
                }
                @if (Model.EventStartMin == 30 && Model.EventStartHour > 0)
                {
                    <option value="30" selected="selected">30</option>
                }
                else
                {
                    <option value="30">30</option>
                }
                @if (Model.EventStartMin == 45 && Model.EventStartHour > 0)
                {
                    <option value="45" selected="selected">45</option>
                }
                else
                {
                    <option value="45">45</option>
                }
            </select>
        </div>
        <div class="formfield">
            <select name="AmpmStart" id="AmpmStart" style="width: 75px">
                <option value="-1"></option>
                @if (Model.AmpmStart == "am" && Model.EventStartHour > 0)
                {
                    <option value="am" selected="selected">AM</option>
                }
                else
                {
                    <option value="am" >AM</option>
                }
                @if (Model.AmpmStart == "pm" && Model.EventStartHour > 0)
                {
                    <option value="pm" selected="selected">PM</option>
                }
                else
                {
                    <option value="pm">PM</option>
                }
            </select>
        </div>
        <div class="clear">&nbsp;</div>

        <div class="formlabel">Event End Date:</div>
        <div class="formfield"><input type="text" name="EventEndDate" id="EventEndDate" value="
            @if (Model.EventEndDate != DateTime.Parse("1/1/0001 12:00:00 AM"))
            {
                @Model.EventEndDate.ToString("M/dd/yyyy");
            }"/></div>

        <div class="formlabel">Event End Time:</div>
        <div class="formfield">
            <select name="EventEndHour" id="EventEndHour" style="width: 75px;">
                <option value="-1"></option>
                @for (var i = 1; i <= 12; i++)
                {
                    if (Model.EventEndHour == i)
                    {
                        <option value="@i" selected="selected">@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
        </div>
        <div class="formfield">
            <select name="EventEndMin" id="EventEndMin" style="width: 75px">
                <option value="-1"></option>
                @if (Model.EventEndMin == 0 && Model.EventEndHour > 0)
                {
                    <option value="0" selected="selected">00</option>
                }
                else
                {
                    <option value="0">00</option>
                }
                @if (Model.EventEndMin == 15 && Model.EventEndHour > 0)
                {
                    <option value="15" selected="selected">15</option>
                }
                else
                {
                    <option value="15">15</option>
                }
                @if (Model.EventEndMin == 30 && Model.EventEndHour > 0)
                {
                    <option value="30" selected="selected">30</option>
                }
                else
                {
                    <option value="30">30</option>
                }
                @if (Model.EventEndMin == 45 && Model.EventEndHour > 0)
                {
                    <option value="45" selected="selected">45</option>
                }
                else
                {
                    <option value="45">45</option>
                }
            </select>
        </div>
        <div class="formfield">
            <select name="AmpmEnd" id="AmpmEnd" style="width: 75px">
                <option value="-1"></option>
                @if (Model.AmpmEnd == "am" && Model.EventEndHour > 0)
                {
                    <option value="am" selected="selected">AM</option>
                }
                else
                {
                    <option value="am" >AM</option>
                }
                @if (Model.AmpmEnd == "pm" && Model.EventEndHour > 0)
                {
                    <option value="pm" selected="selected">PM</option>
                }
                else
                {
                    <option value="pm">PM</option>
                }
            </select>
        </div>
        <div class="clear">&nbsp;</div>

        <div class="formlabel">Branch:</div>
        <div class="formfield">
            <select name="Branch" id="Branch">
                <option value="">-- Select a Branch --</option>
                @foreach (var location in ViewBag.Branchs)
                {
                    if (Model.Branch == location.Id)
                    {
                        <option value="@location.Id" selected="selected">@location.BranchName</option>
                    }
                    else
                    {
                        <option value="@location.Id">@location.BranchName</option>
                    }
                }
            </select>
        </div>
        <div class="clear">&nbsp;</div>
        <textarea name="Body" id="Body" style="width: 80%">@Model.Body</textarea>
        
        <script>
            CKEDITOR.replace('Body', {
                filebrowserBrowseUrl: '/Content/ckfinder/ckfinder.html',
                filebrowserImageBrowseUrl: '/Content/ckfinder/ckfinder.html?type=Images',
                filebrowserUploadUrl: '/Content/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files&currentFolder=/Documents/',
                filebrowserImageUploadUrl: '/Content/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images&currentFolder=/Galleries/',
            }, '');
            </script>
       
        <div style="line-height: 30px;">&nbsp;</div>

        <div class="formlabel">Featured Event:</div>
        <div class="formfield"><input type="checkbox" name="FeaturedEvent" id="FeaturedEvent" value="1" 
            @if(Model.FeaturedEvent == 1)
            {
                @: checked="checked"
            }
        /></div>
        <div class="clear">&nbsp;</div>

        <div style="line-height: 30px;">&nbsp;</div>

        <button form="eventAdd" class="btn btn-primary"><i class="icon-save"></i> Save</button>
    </form>
</div>