@using Recaptcha;
<style type="text/css">
    .formlabel {
    width: 20%;
    text-align: left;
    font-weight: bold;
    float: left;
}

.formfield {
    text-align: left;
    padding-left: 15px;
    float: left;
}

input {
        border: 1px solid black;
    }
    textarea {
        border: 1px solid black;
    }

</style>
<form action="/Home/ProcessForm" method="post">
    <input type="hidden" value="@Model.Id" name="id" />
    <input type="hidden" value="@ViewBag.ParentId" name="parentId" />
    @foreach (var formField in Model.FormFields)
    {
        <div class="formlabel">
            
            @if (formField.FieldType != 7 && formField.FieldType != 9)
            {    
                @formField.Label
                if (formField.IsRequired == 1)
                {
                    <font style="color:red;">*</font>
                }
            }
            else
            {
                @:&nbsp;   
            }
        </div>
        
            if (formField.FieldType == 1)
            {
            <div class="formfield"><input type="@formField.FieldTypeText" class="input-xlarge" name="@formField.Label" value=""></div>
            <div class="clear">&nbsp;</div>
            }
            else if (formField.FieldType == 2)
            {
            <div class="formfield"><textarea rows="10" cols="45" name="@formField.Label" id="@formField.Label"></textarea></div>
            <div class="clear">&nbsp;</div>
            }
            else if (formField.FieldType == 3)
            {
               <div class="formfield">
                   <br />
                   <br />
                   <table>
                       <tbody>
                            @{int m_Count = 0;}
                            @foreach (var m_Child in formField.Children)
                            {
                                if (m_Count % 4 == 0)
                                {
                                    if (m_Count == 0)
                                    {
                                        @:<tr>
                                    }
                                    else
                                    {
                                        @:</tr><tr>
                                    }
                                }
                                
                                @:<td><input type="checkbox" value="@m_Child.Label" name="@formField.Label" /> @m_Child.Label</td>
                                
                                m_Count = m_Count + 1;
                            }
                            @if (m_Count % 4 != 0 && m_Count != 0)
                            {
                                @:</tr>
                            }
                       </tbody>
                   </table>

               </div>
                <div class="clear">&nbsp;</div>
               
            }
            else if (formField.FieldType == 4)
            {
            <div class="formfield">
                   <br />
                   <br />
                   <table>
                       <tbody>
                            @{int m_Count = 0;}
                            @foreach (var m_Child in formField.Children)
                            {
                                if (m_Count % 4 == 0)
                                {
                                    if (m_Count == 0)
                                    {
                                        @:<tr>
                                    }
                                    else
                                    {
                                        @:</tr><tr>
                                    }
                                }
                                
                                @:<td><input type="radio" value="@m_Child.Label" name="@formField.Label" /> @m_Child.Label</td>
                                
                                m_Count = m_Count + 1;
                            }
                            @if (m_Count % 4 != 0 && m_Count != 0)
                            {
                                @:</tr>
                            }
                       </tbody>
                   </table>

               </div>
                <div class="clear">&nbsp;</div>
            }
            else if (formField.FieldType == 5)
            {
            <div class="formfield">
                <select name="@formField.Label">
                    @foreach (var child in formField.Children)
                    {
                        <option value="@child.Label">@child.Label</option>   
                    }
                </select>
            </div>
            <div class="clear">&nbsp;</div>
            }
            else if (formField.FieldType == 6)
            {
            <div class="formfield"><input type="password" value="" name="@formField.Label" /></div>
            <div class="clear">&nbsp;</div>   
            }
            else if (formField.FieldType == 7)
            {
                
                <div class="formfield">
                    @Html.Raw(Html.GenerateCaptcha())
                </div>
                <div class="clear">&nbsp;</div>
                <div class="formlabel">&nbsp;</div>
                <div class="formfield"><input type="submit" value="@formField.Label" name=""/></div>
                <div class="clear">&nbsp;</div>
            }
            else if (formField.FieldType == 8)
            {
            <script>
                $(function () {
                    $("#@formField.Label.Replace(' ', '_')").datepicker();
                });
            </script>
        
            <div class="formfield"><input type="@formField.FieldTypeText" class="input-xlarge" name="@formField.Label" id="@formField.Label.Replace(' ', '_')" readonly="readonly"></div>
            <div class="clear">&nbsp;</div>
            }
            else if (formField.FieldType == 9)
            {
            <div class="formfield">@Html.Raw(System.Web.HttpUtility.HtmlDecode(formField.LabelText))</div>
            <div class="clear">&nbsp;</div>
            }
            else if (formField.FieldType == 10)
            {
                <div class="formfield">
                    <select name="@formField.Label">
                        @foreach (var child in formField.Children)
                        {
                            <option value="@child.Label.ToString().Split(':')[1]">@child.Label.ToString().Split(':')[0]</option>   
                        }
                    </select>
                </div>
                <div class="clear">&nbsp;</div>   
            }
            else
            {
            <div class="clear">&nbsp;</div>
            }
    }
</form>
