@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<main class="main" role="main">
    <div class="content-holder">
        <!-- main content of the page -->
        <div class="row wrap">
            <div class="col-lg">
                <article class="latest-news">
                    <h2 class="heading">What's New <span>The latest content, events & announcements </span></h2>
                    <div class="text-holder">
                        @Html.Action("GetWhatsNew", "Home", new { id = 1 })
                    </div>
                </article>
            </div>
            <div class="col last">
                <article class="widget-block">
                    <h2 class="heading">Featured Events</h2>
                    <div class="text-holder">
                        @Html.Action("FeaturedEvents", "Home")
                    </div>
                </article>
            </div>
        </div>
        <div class="row wrap">
            <article class="col">
                <h2 class="heading">Staff Training </h2>
                <div class="text-holder">
                    @Html.Action("HTMLWidget", "Home", new { id = 6 })
                </div>
            </article>
            <article class="col">
                <h2 class="heading">Automation Tips & Tricks </h2>
                <div class="text-holder">
                    @Html.Action("StaffTraining", "Home")
                    @Html.Action("HTMLWidget", "Home", new { id = 2 })
                </div>
            </article>
            <article class="col last">
                <div class="widget-block">
                    <h2 class="heading">Director's Corner</h2>
                    <div class="text-holder text">
                        @Html.Action("HTMLWidget", "Home", new { id = 1 })
                    </div>
                </div>
            </article>
        </div>
    </div>
</main>
