@{
    ViewBag.Title = "HomeFullWidth";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<main class="main" role="main">
    <div class="content-holder">
        @if (ViewBag.PageType == 2 || ViewBag.PageType == 3)
        {
            if (ViewBag.PageType == 2 && (ViewBag.isPostBack == null || ViewBag.isPostBack != 1))
            {
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
            }
            if (ViewBag.PageType == 3)
            {
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
            }
            <div class="margin-top_10">&nbsp;</div>
            <div style="color: red; text-align: center">@Html.ValidationSummary()</div>
            <div class="margin-top_10">&nbsp;</div>
        }
        @if (ViewBag.Message != null)
        {
            <div class="formlabel">&nbsp;</div>
            <div class="formfield" style="color: red;">@ViewBag.Message</div>
            <div class="clear">&nbsp;</div>
            <div class="margin-top_10">&nbsp;</div>
        }
        @if (ViewBag.PageType == 2)
        {
            if (ViewBag.isPostBack == 1)
            {
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(ViewBag.Success));
            }
            else
            {
                @Html.Action("getForm", "Home", new { parentId = Model.PageID, id = ViewBag.id })
            }
        }
        else if (ViewBag.PageType == 3)
        {
            @Html.Action("getFAQ", "Home", new { id = ViewBag.id })
        }
        else if (ViewBag.PageType == 4)
        {
            if (Model.Content != "")
            {
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
                <br /><br />
            }

            @Html.Action("getBlog", "Home", new { parentId = ViewBag.TemplateId, id = Model.PageTypeId })
        }
        else if(ViewBag.PageType == 5)
        {
            @Html.Action("getEmployeeDirectory", "Home")
        }
        else
        {
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
        }

    </div>
</main>
