@{
    ViewBag.Title = "HomeFullWidth";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<main class="main" role="main">
    <div class="content-holder">
        @if (ViewBag.PageType == 2 || ViewBag.PageType == 3)
        {
            if (ViewBag.PageType == 2 && (ViewBag.isPostBack == null || ViewBag.isPostBack != 1))
            {
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
            }
            if (ViewBag.PageType == 3)
            {
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
            }
            <div class="margin-top_10">&nbsp;</div>
            <div style="color: red; text-align: center">@Html.ValidationSummary()</div>
            <div class="margin-top_10">&nbsp;</div>
        }
        @if (ViewBag.Message != null)
        {
            <div class="formlabel">&nbsp;</div>
            <div class="formfield" style="color: red;">@ViewBag.Message</div>
            <div class="clear">&nbsp;</div>
            <div class="margin-top_10">&nbsp;</div>
        }
        @if (ViewBag.PageType == 2)
        {
            if (ViewBag.isPostBack == 1)
            {
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(ViewBag.Success));
            }
            else
            {
                @Html.Action("getForm", "Home", new { parentId = Model.PageID, id = ViewBag.id })
            }
        }
        else if (ViewBag.PageType == 3)
        {
            @Html.Action("getFAQ", "Home", new { id = ViewBag.id })
        }
        else if (ViewBag.PageType == 4)
        {
            if (Model.Content != "")
            {
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
                <br /><br />
            }

            @Html.Action("getBlog", "Home", new { parentId = ViewBag.TemplateId, id = Model.PageTypeId })
        }
        else if (ViewBag.PageType == 5)
        {
            if (Model.Content != "")
            {
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
                <br /><br />
            }
            @Html.Action("getEmployeeDirectory", "Home")
        }
        else if (ViewBag.PageType == 6)
        {


            <section>
                <span class='st_facebook_large' displaytext='Facebook'></span>
                <span class='st_twitter_large' displaytext='Tweet'></span>
                <span class='st_pinterest_large' displaytext='Pinterest'></span>
                <span class='st_email_large' displaytext='Email'></span>
                <span class='st_fblike_large' displaytext='Facebook Like'></span><br /><br /><br />
            </section>

            <h2>@Model.EventTitle</h2><br /><br />
            <p>
                @Model.EventStartDate.ToString("MMM d, yyyy")
                @if (Model.EventStartDate.ToString("MMM d, yyyy") != Model.EventEndDate.ToString("MMM d, yyyy"))
                {
                    @: - @Model.EventEndDate.ToString("MMM d, yyyy")
                    }
            </p>
            if (Model.EventStartHour != 0)
            {
                if (Model.EventStartMin != 0)
                {
                    ViewBag.StartTime = Model.EventStartHour + ":" + Model.EventStartMin + Model.AmpmStart;
                }
                else
                {
                    ViewBag.StartTime = Model.EventStartHour + ":00" + Model.AmpmStart;
                }

                if (Model.EventEndHour != 0)
                {
                    if (Model.EventEndMin != 0)
                    {
                        ViewBag.EndTime = Model.EventEndHour + ":" + Model.EventEndMin + Model.AmpmEnd;
                    }
                    else
                    {
                        ViewBag.EndTime = Model.EventEndHour + ":00" + Model.AmpmEnd;
                    }
                }
            }
            <p>
                @ViewBag.StartTime
                @if (Model.EventEndHour != 0)
                {
                    @: - @ViewBag.EndTime
                }
            </p>
            <br /><br /><br />
            <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Body))</p>
        }
        else if (ViewBag.PageType == 7)
        {
            @Html.Action("Display", "PerformerDirectory")
        }
        else if (ViewBag.PageType == 8)
        {
            @Html.Action("Display", "List", new { id = ViewBag.id })
        }
        else
        {
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
        }

    </div>
</main>
