@{
    ViewBag.Title = "Interior";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<main class="main" role="main">
    <div class="twocolumns">
        <aside class="aside">
            
            @Html.Action("SystemMenuTopLevel", "Home", new { parentId = Model.ParentId, id = Model.PageID })
            
            <article class="box-info">
                <div class="info">
                    <strong class="title">Need Help?</strong>
                    <p>Most every question you might have has already been answered in <a href="#">FAQS</a></p>
                </div>
            </article>
        </aside>
        <!-- center content -->
        <div class="content">
            @if (ViewBag.PageType == 2 || ViewBag.PageType == 3)
            {
                if (ViewBag.PageType == 2 && (ViewBag.isPostBack == null || ViewBag.isPostBack != 1))
                {
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
                }
                if (ViewBag.PageType == 3)
                {
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
                }
                <div class="margin-top_10">&nbsp;</div>
                <div style="color: red; text-align: center">@Html.ValidationSummary()</div>
                <div class="margin-top_10">&nbsp;</div>
            }
            @if (ViewBag.Message != null)
            {
                <div class="formlabel">&nbsp;</div>
                <div class="formfield" style="color: red;">@ViewBag.Message</div>
                <div class="clear">&nbsp;</div>
                <div class="margin-top_10">&nbsp;</div>
            }
            @if (ViewBag.PageType == 2)
            {
                if (ViewBag.isPostBack == 1)
                {
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(ViewBag.Success));
                }
                else
                {
                    @Html.Action("getForm", "Home", new { parentId = Model.PageID, id = ViewBag.id })
                }
            }
            else if (ViewBag.PageType == 3)
            {
                @Html.Action("getFAQ", "Home", new { id = ViewBag.id })
            }
            else if (ViewBag.PageType == 4)
            {
                if (Model.Content != "")
                {
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
                    <br /><br />
                }

                @Html.Action("getBlog", "Home", new { parentId = ViewBag.TemplateId, id = Model.PageTypeId })
            }
            else if (ViewBag.PageType == 5)
            {
                @Html.Action("getEmployeeDirectory", "Home")
            }
            else if (ViewBag.PageType == 6)
            {


                <section>
                    <span class='st_facebook_large' displaytext='Facebook'></span>
                    <span class='st_twitter_large' displaytext='Tweet'></span>
                    <span class='st_pinterest_large' displaytext='Pinterest'></span>
                    <span class='st_email_large' displaytext='Email'></span>
                    <span class='st_fblike_large' displaytext='Facebook Like'></span><br /><br /><br />
                </section>

                <h2>@Model.EventTitle</h2><br /><br />
                <p>
                    @Model.EventStartDate.ToString("MMM d, yyyy")
                    @if (Model.EventStartDate.ToString("MMM d, yyyy") != Model.EventEndDate.ToString("MMM d, yyyy"))
                    {
                        @: - @Model.EventEndDate.ToString("MMM d, yyyy")
                    }
                </p>
                if (Model.EventStartHour != 0)
                {
                    if (Model.EventStartMin != 0)
                    {
                        ViewBag.StartTime = Model.EventStartHour + ":" + Model.EventStartMin + Model.AmpmStart;
                    }
                    else
                    {
                        ViewBag.StartTime = Model.EventStartHour + ":00" + Model.AmpmStart;
                    }

                    if (Model.EventEndHour != 0)
                    {
                        if (Model.EventEndMin != 0)
                        {
                            ViewBag.EndTime = Model.EventEndHour + ":" + Model.EventEndMin + Model.AmpmEnd;
                        }
                        else
                        {
                            ViewBag.EndTime = Model.EventEndHour + ":00" + Model.AmpmEnd;
                        }
                    }
                }
                <p>
                    @ViewBag.StartTime
                    @if (Model.EventEndHour != 0)
                    {
                        @: - @ViewBag.EndTime
                }
                </p>
                <br /><br /><br />
                <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Body))</p>
            }
            else
            {
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
            }

        </div>
    </div>
    <!-- contain sidebar of the page (right side bar)-->
    <aside class="sidebar">
        @Html.Action("Container", "Home", new { id = Model.WidgetContainerId })
        <!--
        <div class="wrap">
            <article class="box-content">
                <div class="info">
                    <h1><img class="image-holder" src="images/img4.png" alt="image-description" width="36" height="57">Quick Facts</h1>
                    <dl class="contact-info">
                        <dt>Branch Manager: </dt>
                        <dd>Jane Doe</dd>
                        <dt>Supervising Librarian: </dt>
                        <dd>James Roe</dd>
                        <dt>Main Number: </dt>
                        <dd><a class="tel-link" href="tel:5555555555">555-555-5555</a></dd>
                        <dt>Reference Desk: </dt>
                        <dd><a class="tel-link" href="tel:5555555555">555-555-5555</a></dd>
                        <dt>Other Number: </dt>
                        <dd><a class="tel-link" href="tel:5555555555">555-555-5555</a></dd>
                    </dl>
                    <p><a href="#">Fairfield CC Staff Directory</a></p>
                    <ul class="question">
                        <li>Quick Questions?</li>
                        <li><a href="#">Check the Fairfield CC</a></li>
                        <li><a href="#">Branch FAQ</a></li>
                    </ul>
                    <p>This is not a fixed height box. You can add as much text here as you want.</p>
                    <p>Here is a second line</p>
                </div>
            </article>
            <article class="widget-block">
                <h2 class="heading">Branch Resources</h2>
                <div class="text-holder">
                    <p>Automation staff maintain department documents on the Z: drive on the HQ office network.</p>
                    <ul class="question">
                        <li><a href="#">All Staff Meeting Minutes (05/12/06)</a></li>
                        <li><a href="#">Map of Fairfield CC (PDF)</a></li>
                        <li><a href="#">Another Resource.</a></li>
                        <li><a href="#">Another Resource.</a></li>
                        <li><a href="#">Another Resource.</a></li>
                        <li><a href="#">Another Resource.</a></li>
                        <li><a href="#">Another Resource.</a></li>
                        <li><a href="#">Another Resource.</a></li>
                    </ul>
                    <div class="btn-holder">
                        <a href="#" class="more">More</a>
                    </div>
                </div>
            </article>
        </div>
        <article class="widget-block">
            <h2 class="heading">Staff Training</h2>
            <div class="text-holder">
                <ul class="schedule">
                    <li>
                        <time datetime="2015-07-15T15:00-08:00">07/15: <a href="#">Ektron Training</a></time><span class="time"><time datetime="2015-07-15T15:00-08:00">10:00am – 12:15pm, Fairfield</time></span>
                    </li>
                    <li>
                        <time datetime="2015-08-13T15:00-08:00">08/13: <a href="#">Ektron TrainingII</a></time><span class="time"><time datetime="2015-07-21T15:00-08:00">1:30pm – 4:30pm, Vallejo</time></span>
                    </li>
                    <li>
                        <time datetime="2015-08-13T15:00-08:00">08/13: <a href="#">Ektron TrainingIII</a></time><span class="time"><time datetime="2015-07-15T15:00-08:00">10:00am – 12:15pm, Fairfield</time></span>
                    </li>
                </ul>
                <div class="btn-holder">
                    <a href="#" class="more">More</a>
                </div>
            </div>
        </article> -->
    </aside>
</main>
