@model IEnumerable<CMS.Domain.Entities.Folder>
@using CMS.WebUI.Infrastructure
@{
    ViewBag.Title = "Admin - Manage Documents";
    ViewBag.Name = HttpContext.Current.Session["Name"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="header">
    <h2>Documents</h2>
</div>
<script type="text/javascript">
    var myID = 0;
    var myAction = '';
    function doWork(id, action) {
        myID = id;
        myAction = action;
    }

</script>
<div class="container-fluid">  
<div class="row-fluid">  
    <div class="row-fluid">            
        <div class="btn-toolbar">
            <a href="/Document/AddFolder/@ViewBag.ParentId" style="padding-right: 10px;"><button class="btn btn-primary"><i class="icon-plus"></i> New Folder</button></a>@if (ViewBag.ParentId != 0){ <a href="/Document/AddDocument/@ViewBag.ParentId" style="padding-right: 10px;"><button class="btn btn-primary"><i class="icon-plus"></i> New Document</button></a><a href="/Document/Index/@ViewBag.CurrentFolder.ParentId"><button class="btn btn-primary"><i class="icon-reply"></i> Back</button></a> }
            <div class="btn-group">
            </div>
        </div>
        <div style="color: red">@Html.ValidationSummary()</div>

        <div style="line-height: 30px;">&nbsp;</div>

        @Html.FolderBreadCrumb((Int32)ViewBag.ParentId)

        <div style="line-height: 30px;">&nbsp;</div>

        <div class="well">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 30px;"></th>
                        <th>Folder Name</th>
                        <th style="width: 45px;"></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var folder in Model)
                {
                    <tr>
                        <td><img src="~/Content/images/folder.png" title="Folder" alt="Folder" /></td>
                        <td><a href="/Document/Index/@folder.Id">@folder.Name</a></td>
                        <td>
                            <a href="/Document/EditFolder/@folder.Id"><i class="icon-pencil"></i></a>
                            <a href="#myModal" role="button" data-toggle="modal" id="" onclick="doWork(@folder.Id, 'Folder');"><i class="icon-remove"></i></a>
                        </td>
                    </tr>   
                }
                @foreach (var m_Document in ViewBag.Documents)
                {
                    <tr>
                        <td>@if (m_Document.FileType == "doc" || m_Document.FileType == "docx")
                            {
                                @:<img src="/Content/images/wordIcon.jpg" title="Word Document" alt="Word Document" />
                            }
                            else if (m_Document.FileType == "xls" || m_Document.FileType == "xlsx")
                            {
                                @:<img src="/Content/images/excelIcon.jpg" title="Excel Document" alt="Excel Document" />
                            }
                            else if (m_Document.FileType == "pdf" || m_Document.FileType == "PDF")
                            {
                                @:<img src="/Content/images/pdfIcon.jpg" title="PDF Document" alt="PDF Document" />
                            }
                        </td>
                        <td>@m_Document.Name</td>
                        <td>
                            <a href="/Document/MoveDoc/0/@m_Document.Id"><i class="icon-move" title="Move Document"></i></a>
                            <a href="/Document/EditDocument/@m_Document.Id"><i class="icon-pencil" title="Edit" alt="Edit"></i></a>
                            <a href="#myModal" role="button" data-toggle="modal" id="" onclick="doWork(@m_Document.Id, 'Document');"><i class="icon-remove" title="Delete" alt="Delete"></i></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the Document?</p>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" onclick="document.location.href ='/Document/Delete' + myAction + '/' + myID;">Delete</button>
            </div>
        </div>
    </div>
</div>