@if (ViewBag.FieldType == 1 || ViewBag.FieldType == 2 || ViewBag.FieldType == 6 || ViewBag.FieldType == 7 || ViewBag.FieldType == 8)
{
    <div class="formlabel">Label Text:</div>
    <div class="formfield"><input type="text" class="input-xlarge" name="Label" value=""></div>
    <div class="clear">&nbsp;</div>
    <input type="hidden" name="FieldType" value="@ViewBag.FieldType" />
}
else if (ViewBag.FieldType == 3)
{
    <input type="hidden" name="FieldType" value="@ViewBag.FieldType" />
    <div class="formlabel">Label Text:</div>
    <div class="formfield"><input type="text" class="input-xlarge" name="Label" value=""></div>
    <div class="clear">&nbsp;</div>
    
    <div class="formlabel">Checkbox Text:</div>
    <div class="formfield"><input type="text" class="input-xlarge" name="childrenTitle" value="" />&nbsp;&nbsp<a data-ajax="true" data-ajax-mode="after" data-ajax-update="#myForm" href="/FormField/AddOption/checkbox">Add more options</a></div>
    <div class="clear">&nbsp;</div> 
}
else if (ViewBag.FieldType == 4)
{
    <input type="hidden" name="FieldType" value="@ViewBag.FieldType" />
    <div class="formlabel">Label Text:</div>
    <div class="formfield"><input type="text" class="input-xlarge" name="Label" value=""></div>
    <div class="clear">&nbsp;</div>
    
    <div class="formlabel">Radio Text:</div>
    <div class="formfield"><input type="text" class="input-xlarge" name="childrenTitle" value="" />&nbsp;&nbsp<a data-ajax="true" data-ajax-mode="after" data-ajax-update="#myForm" href="/FormField/AddOption/radio">Add more options</a></div>
    <div class="clear">&nbsp;</div>
}
else if (ViewBag.FieldType == 5)
{
    <input type="hidden" name="FieldType" value="@ViewBag.FieldType" />
    <div class="formlabel">Label Text:</div>
    <div class="formfield"><input type="text" class="input-xlarge" name="Label" value=""></div>
    <div class="clear">&nbsp;</div>
    
    <div class="formlabel">Option Text:</div>
    <div class="formfield"><input type="text" class="input-xlarge" name="childrenTitle" value="" />&nbsp;&nbsp<a data-ajax="true" data-ajax-mode="after" data-ajax-update="#myForm" href="/FormField/AddOption/select">Add more options</a></div>
    <div class="clear">&nbsp;</div>
}
else if (ViewBag.FieldType == 9)
{
    <div class="formlabel">Label:</div>
    <div class="formfield"><input type="input" name="Label" value="" /></div>
    <div class="clear">&nbsp;</div>
    <div class="formlabel">Custom Text:</div>
    <div class="formfield"><textarea rows="5" cols="50" name="LabelText" id="LabelText" style="width: 80%"></textarea></div>
    <div class="clear">&nbsp;</div>
    <input type="hidden" name="FieldType" value="@ViewBag.FieldType" />
    
        <script>
            CKEDITOR.replace('LabelText', {
                "extraPlugins": "imagebrowser",
                "imageBrowser_listUrl": "/JSON/getImages"
            }, '');
        </script>
}
else if (ViewBag.FieldType == 10)
{
    <input type="hidden" name="FieldType" value="@ViewBag.FieldType" />
    <div class="formlabel">Label Text:</div>
    <div class="formfield"><input type="text" class="input-xlarge" name="Label" value=""></div>
    <div class="clear">&nbsp;</div>
    
    <div class="formlabel">Option Text:</div>
    <div class="formfield"><input type="text" class="input-xlarge" name="childrenTitle" value="" />&nbsp;&nbsp<a data-ajax="true" data-ajax-mode="after" data-ajax-update="#myForm" href="/FormField/AddOption/special">Add more options</a></div>
    <div class="clear">&nbsp;</div>
    
    <div class="formlabel">Option Value:</div>
    <div class="formfield"><input type="text" class="input-xlarge" name="childrenValue" value="" /></div>
    <div class="clear">&nbsp;</div>
}
