@{
    ViewBag.Title = "ActAdd";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var a_count = 0;
}

<div style="line-height: 30px;">&nbsp;</div>
<div style="padding-left: 45px; padding-top: 20px">
    <h1>Add Performer</h1>

    <form action="/PerformerDirectory/ActAdd" method="post" id="actAdd">
        <div class="formlabel">Program Title:</div>
        <div class="formfield"><input type="text" name="ProgramTitle" id="ProgramTitle" value="@Model.ProgramTitle" maxlength="255" /></div>
        <div class="clear">&nbsp;</div>

        <div class="formlabel">Description:</div>
        <div class="formfield"><textarea rows="5" cols="10" maxlength="1000" name="Description">@Model.Description</textarea></div>
        <div class="clear">&nbsp;</div>

        <div class="formlabel">Performer: </div>
        <div class="formfield">
            <select name="PerformerId">
                @foreach(var performer in ViewBag.Performers)
                {
                    if(Model.PerformerId == performer.Id)
                    {
                        <option value="@performer.Id" selected="selected">@performer.FirstName</option>
                    }
                    else
                    {
                        <option value="@performer.Id">@performer.FirstName</option>
                    }
                }
            </select>
        </div>
        <div class="clear">&nbsp;</div>

        <div class="formlabel">Cost:</div>
        <div class="formfield"><input type="text" name="Cost" id="Cost" value="@Model.Cost" /> </div>
        <div class="clear">&nbsp;</div>

        <div class="formlabel">Duration:</div>
        <div class="formfield"><input type="text" name="Duration" id="Duration" value="@Model.Duration" /></div>
        <div class="clear">&nbsp;</div>

        <div class="formlabel">Audiences:</div>
        <div class="formfield">
            <table>
                @foreach (var audience in ViewBag.Audiences)
                {
                    if (a_count % 4 == 0)
                    {
                        @:<tr>
                    }
                    if (Model.Audiences != null && Model.Audiences.Contains(audience.Id))
                    {
                        <td align="right">@audience.Name &nbsp;&nbsp;<input type="checkbox" value="@audience.Id" name="Audiences" id="Audiences" checked="checked" />&nbsp;&nbsp;</td>
                    }
                    else
                    {
                        <td align="right">@audience.Name &nbsp;&nbsp;<input type="checkbox" value="@audience.Id" name="Audiences" id="Audiences" />&nbsp;&nbsp;</td>
                    }
                    if (a_count % 4 == 3)
                    {
                        @:</tr>
                    }

                    a_count = a_count + 1;
                }
                @if (a_count % 4 != 3)
                {
                    @:</tr>
                }
            </table>
        </div>
        <div class="clear">&nbsp;</div>
        <div style="line-height: 30px;">&nbsp;</div>

        <div class="formlabel">Branch(es):</div>
        <div class="formfield">
            <table>
                @{ a_count = 0; }
                @foreach (var location in ViewBag.Locations)
                {
                    if (a_count % 4 == 0)
                    {
                        @:<tr>
                    }
                    if (Model.Branches != null && Model.Branches.Contains(location.Id))
                    {
                        <td align="right">@location.Abreviation &nbsp;&nbsp;<input type="checkbox" value="@location.Id" name="Branches" id="Branches" checked="checked" />&nbsp;&nbsp;</td>
                    }
                    else
                    {
                        <td align="right">@location.Abreviation &nbsp;&nbsp;<input type="checkbox" value="@location.Id" name="Branches" id="Branches" />&nbsp;&nbsp;</td>
                    }
                    if (a_count % 4 == 3)
                    {
                        @:</tr>
                    }

                    a_count = a_count + 1;
                }
                @if (a_count % 4 != 3)
                {
                    @:</tr>
                }
            </table>
        </div>
        <div class="clear">&nbsp;</div>
        <div style="line-height: 30px;">&nbsp;</div>

        <div class="formlabel">Notes:</div>
        <div class="formfield"><textarea rows="5" cols="10" maxlength="1000" name="Notes">@Model.Notes</textarea></div>
        <div class="clear">&nbsp;</div>

        <div style="line-height: 30px;">&nbsp;</div>
        <div class="formlabel">&nbsp;</div>
        <div class="formfield"><button form="actAdd" class="btn btn-primary"><i class="icon-save"></i> Save</button></div>
        <div class="clear">&nbsp;</div>
    </form>
</div>
