@{
    ViewBag.Title = "DisplayPerformer";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div style="line-height: 30px;">&nbsp;</div>
<div style="padding-left: 45px; padding-top: 20px">
    <h1>Performers Directory</h1>
    <div style="line-height: 30px;">&nbsp;</div>
    <a href="/PerformerDirectory/ShowAll">Back To Performer Directory</a>
    <div style="line-height: 30px;">&nbsp;</div>
    <h2>
        @Model.FirstName
        @if(Model.LastName.Length > 0)
        {
            @:, @Model.LastName
        }
    </h2>&nbsp;&nbsp;&nbsp;<a href="/PerformerDirectory/PerformerEdit/@Model.Id">Edit</a><br /><br />
    <b>Overall Rating:</b><br /><br />
    Contact<br /><br />
    @Model.FirstName
    @if (Model.LastName.Length > 0)
    {
        @:, @Model.LastName
    }
    <br />
    @if(Model.Phone.Length > 0)
    { 
        <b>Phone: </b>@Model.Phone<br />
    }
    @if(Model.Fax.Length > 0)
    { 
        <b>Fax: </b>@Model.Fax<br />
    }
    @if(Model.Email.Length > 0)
    { 
        <b>Email: </b>@Model.Email<br />
    }
    @if(Model.Website.Length > 0)
    { 
        <b>Website: </b>@Model.Website<br />
    }

    <div style="line-height: 30px;">&nbsp;</div>
    <h2>Acts</h2>
    <div style="line-height: 30px;">&nbsp;</div>
    Display Acts here
    <div style="line-height: 30px;">&nbsp;</div>
    <a href="">Add Act</a>
    <div style="line-height: 30px;">&nbsp;</div>
</div>
